

<div class="main-nav-wrapper clearfix gul-hidden gul-show-gt-md" id="main-nav-wrapper">
    <div class="container-full">
        <div class="layout-row layout-wrap position-static "gul-attributes-without>
            
            <nav class="main-nav gul-col-8 no-padding" id="main-nav">
                <ul class="main-nav-inner list-unstyled layout-row layout-wrap no-padding-nleft no-margin clearfix" id="main-nav-inner">
                                                            <li class="flex-auto gul-hidden-gt-xs">
                        <a href="#" id="important-links" class="block gul-fw-200">Important Links</a>
                        <div class="gul-submenu position-absolute left-0 right-0 bg-white">
                            <ul class="list-unstyled">
                                                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-open gul-col-2">
                <a href="#menu-notes" class="gul-notes-open no-padding fg-white layout layout-align-center-center sidebar-sticky-menu" id="gul-notes-open-sticky">
                    <svg class="gul-icon">
                        <use xlink:href="/styleguide-guilford.github.io/icons/core-icons.svg#icon-notes"></use>
                    </svg>
                </a>
                <a href="#menu-links" class="gul-links-open no-padding fg-white layout layout-align-center-center sidebar-sticky-menu" id="gul-links-open-sticky">
                    <svg class="gul-icon">
                        <use xlink:href="/styleguide-guilford.github.io/icons/core-icons.svg#icon-links"></use>
                    </svg>
                </a>
                <a href="#menu-search" class="gul-search-open no-padding fg-white layout layout-align-center-center sidebar-sticky-menu" id="gul-search-open-sticky">
                    <svg class="gul-icon">
                        <use xlink:href="/styleguide-guilford.github.io/icons/core-icons.svg#icon-search"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
