

<div class="search-area" id="search-area">
    <form id="gul-search-form">
        <div class="layout-row layout-wrap">
            <div class="gul-col-10 no-padding">
                <input type="text" name="search" placeholder="search"  id="gul-search" autocomplete="off" />
            </div>
            <div class="gul-col-2 no-padding">
                <div class="layout layout-align-end-center">
                    <a href="#" class="gul-search flex text-right" id="gul-search-btn">
                        <svg class="gul-icon">
                        <use xlink:href="/icons/core-icons.svg#icon-icon_search"></use>
                        </svg>
                    </a>
                    <input type="submit" class="gul-hidden" />
                </div>
            </div>
        </div>
    </form>
    <div class="gul-live-search" id="gul-live-search">
        <a href="/search?keys=input#gul-search.value" class="gul-search-all img-full-width  button button-lg bg-hoots text-center text-uppercase" id="gul-search-all">View full results</a>
        <div class="gul-live-search-content">
            <div class="container-full">
                <div class="layout-row layout-wrap" id="gul-live-search-results">
                    
                </div>
            </div>
        </div>
    </div>
</div>
