

<p class="body-2 no-margin-bottom">
        Already have an account? <a href="" class="color-elmo"><strong>Log in</strong></a></p>

    <div class="gul-empty-notes">
        <img src="/styleguide-guilford.github.io/images/gul_seal.png" class="gul-empty-notes-bg img-responsive position-absolute" alt="Guilford College">
        <h2 class="color-elmo margin-bottom-md no-margin-top">MY GUILFORD NOTES</h2>
        <h4>Save the things that are important to you, and come back here to view them anytime.</h4>
        <p class="body-2 color-count margin-bottom-md">To get started, look for the Guilford Notes icon <svg class="gul-icon s18 gul-demo-icon"><use xlink:href="/styleguide-guilford.github.io/icons/core-icons.svg#icon-notes"></use></svg> next to majors, faculty names, page titles and in other places throughout the site. Click it to save the item to your notes.</p>
        <img src="/styleguide-guilford.github.io/images/empty_image_1.png" class="img-responsive margin-bottom-md" alt="Save page">
        <p class="body-2 color-count">The first time you do this, you will be asked to create your personal login.</p>
        <p class="body-2 color-count margin-bottom-md">You can also save snippets of text. Simply highlight what you want to keep and click on the Notes icon that appears. This is great for deadlines and application instructions.</p>
        <img src="/styleguide-guilford.github.io/images/empty_image_2.png" class="img-responsive margin-bottom-md" alt="Save snippet">
        <p class="body-2 color-count">Return to your notes anytime by clicking the Guilford Notes icon in the top right corner of your device.</p>
        <h6 class="subhead-2 color-elmo">Happy saving!</h6>
    </div>
